---
import { getLocale } from "astro-i18n-aut";
import { ViewTransitions } from "astro:transitions";
import BaseHead from "@components/BaseHead.astro";
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "@styles/globals.css";

const locale = getLocale(Astro.url);

// replaced dynamically
const buildDate = new Date(__DATE__);

type Props = {
	title?: string;
	description?: string;
	image?: string;
};

const { image, title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props as Props;
---
<script is:inline>
	const getThemePreference = () => {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme');
		}
		return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	};
	const isDark = getThemePreference() === 'dark';
	document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
 
	if (typeof localStorage !== 'undefined') {
		const observer = new MutationObserver(() => {
			const isDark = document.documentElement.classList.contains('dark');
			localStorage.setItem('theme', isDark ? 'dark' : 'light');
		});
		observer.observe(document.documentElement, { attributes: true, attributeFilter: ['class'] });
	}
</script>
<html lang={locale}>
	<head>
		<BaseHead title={title} description={description} image={image} />
		{/* Comment the line below if you want to remove client side routing */}
		<ViewTransitions />
	</head>

	<body class="min-h-screen bg-background text-foreground">
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer {buildDate} />
	</body>
</html>
